.menu{
background-color: rgb(224, 222, 218);
display: flex;
justify-content: space-between;
height: 40px;
align-items: center;
}


.flex-container{
    height: 600px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("img/PSICOLOGIA2.jpg");
    background-repeat: no-repeat;background-position: center center;

}

.logo2{
display: contents;
justify-content: center;
align-items: center;
align-content: center;
}

.paragrafo1{
color: white;
width: 300px;
}
.rodape{
    background-color: rgb(224, 222, 218);
    display: flex;
    align-content: center;
    justify-content: space-around;

}
.home{
    color: white;
}


/*  INICIO - Tela Login*/

.container-login{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   height: 800px;
  
   background-color: rgb(170, 172, 171);

}

.acessarconta{
    display: flex;
    background-color: rgb(202, 201, 201);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 15px;

}
.email{
    display: flex;
    flex-direction: column;

}
.senha{
    display: flex;
    flex-direction: column;

}


/*  FIM - Tela Login*/


/*  INICIO - Tela QUEM É VC*/
.container-quemevc{
display: flex;
flex-direction: column;
height: 300px;
background-color: rgb(240, 238, 238);
align-items: center;
/*justify-content: center;*/

}
.menucontenos{
    display: flex;
    flex-direction: column;

}

.contenos{
    display: flex;
    flex-direction: column;
    background-color: rgb(147, 199, 241);
    width: 450px;
    height: 100px;
    border: solid 2px ;
    border-radius: 17px;
    
    justify-content: center ;
    align-items: center;
    align-content: center;
}

.sou{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 500px;
    justify-content: space-around;
    
}
.paciente{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgb(162, 204, 204);
    text-align: center;
    border: solid 2px ;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;

}
.profissional{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgb(130, 130, 185);
    text-align: center;
    border: solid 2px ;
    border-radius: 5px;
    justify-content: center;
    
}


/*  FIM- Tela QUEM É VC*/