@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.menu{
background-color: rgb(224, 222, 218);
display: flex;
justify-content: space-between;
height: 40px;
align-items: center;
padding: 20px; /*descola o menu da borda*/
list-style-type: none; /* retira os pontos da lista*/
text-decoration: none;
}



.flex-container{
    height: 600px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("img/PSICOLOGIA2.jpg");
    background-repeat: no-repeat;background-position: center center;

}

.logo2{
display: contents;
justify-content: center;
align-items: center;
align-content: center;
}

.paragrafo1{
color: white;
width: 300px;
}
.rodape{
    background-color: rgb(224, 222, 218);
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 170px;

}
.home{
    color: white;
}


/*  INICIO - Tela Login*/

.container-login{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   height: 800px;
  
   background-color: rgb(170, 172, 171);

}

.acessarconta{
    display: flex;
    background-color: rgb(202, 201, 201);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 15px;

}
.email{
    display: flex;
    flex-direction: column;

}
.senha{
    display: flex;
    flex-direction: column;

}


/*  FIM - Tela Login*/


/*  INICIO - Tela QUEM É VC*/
.container-quemevc{
display: flex;
flex-direction: column;
height: 300px;
/*background-color: rgb(240, 238, 238);*/
justify-content: center; /*alinh o texto horizontalmente*/
align-items: center;


}
.menucontenos{
    display: flex;
    flex-direction: column;

}
.crieconta{
display:flex;
background-color: rgb(245, 187, 187);
border: solid 0px ;
border-radius: 17px;
width: 500px;
align-items: center;
justify-content: center;

}
.contenos{
    display: flex;
    flex-direction: column;
    background-color: rgb(147, 199, 241);
    width: 600px;
    height: 100px;
    border: solid 0px ;
    border-radius: 17px;
    align-items: center;
    justify-content: center; /*Coloca o texto ao cento de cima para baixo*/

   
}

.sou{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 500px;
    justify-content: space-around;
    
}
.paciente{
    display: flex;
    flex-direction: column; /* Coloca o texto e o botão um abaixo do outro*/
    width: 500px;
    height: 500px;
    background-color: rgb(162, 204, 204);
    text-align: center;
    border: solid 2px ;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center; /*Alinha o texto na div*/
    box-shadow: 10px 10px 10px rgb(69, 133, 141); /*Faz uma sombra em uma caixa*/
    padding: 50px; /*Coloca margem interna na caixa*/
    text-align: justify; /*coloca o texto da caixa justificado*/


}
.profissional{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: rgb(130, 130, 185);
    text-align: center;
    border: solid 2px ;
    border-radius: 5px;
    justify-content: center;
    align-items: center; /*Alinha o texto na div*/
    box-shadow: 10px 10px 10px rgb(114, 98, 128); /*Faz uma sombra em uma caixa*/
    padding: 50px; /*Coloca margem interna na caixa*/
    margin: 10px;
    text-align: justify; /*coloca o texto da caixa justificado*/
    
}


/*  FIM- Tela QUEM É VC*/



/*  INICIO- Tela paciente*/
.insiradadospaciente{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(187, 201, 245);
    height: 200px;

}
.cadastrarpaciente{
display: flex;
flex-direction: row;
max-width: 100%;
height: 800px;
justify-content: space-evenly;
background-color: rgb(219, 225, 245);
align-items: center;
}
.cadastrarpaciente img{
    width: 300px;
    height: 350px;
}


/*  FIM- Tela Cadastro paciente*/


/*  INICIO- Tela Cadastro profissional*/
.insiradadosprofissional{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(200, 223, 215);

}
.criaconta{
display: flex;
justify-content: center;
max-width: 100%;
height: 50px;
background-color: rgb(198, 240, 226);
}
.cadastrarprofissional{
display: flex;
flex-direction: row;
max-width: 100%;
justify-content: space-evenly;
background-color: rgb(198, 240, 226);
align-items: center;
}
.cadastrar img{
    width: 300px;
    height: 350px;
}


/*  FIM- Tela Cadastro profissional*/